@charset "utf-8";

* {
	padding:0;
	margin: 0;
}

body{
	background-color: #4c329d;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-image:url('./images/fondo.png'); 
  background-attachment:fixed;
}


div#header h1 a span {
  display: inline !important;
}

/* Overwrites defaults */

body, h1, h2, h3, h4, h5, h6, p, ul, form, input {
  margin: 0px;
  padding: 0px;
}

/* Global */

* {
  font-family: Verdana, Arial, Helvetica, sans-serif;

}
#menu{
	height: 20px;
	background-color: #ffff00;
}
#menu ul{
	list-style-type:none;
	margin:0;
	padding: 0 10px;
	overflow:hidden;
}

#menu li{
   float:left;
} 

#menu li a {
	 height: 18px;
	 font-size:x-small;
   padding: 2px 7px 2px 7px;
   color: #000000;
   background-color: #ffff00;
   text-decoration: none;
}

#menu li a:link,a:visited{
	display:block;
	width:120px;
	font-weight:bold;
	color:#000000;
	background-color:#ffff00;
	text-align:center;
	padding:1px;
	text-decoration:none;
	text-transform:none;
} 

#menu li a:hover,a:active
{
background-color:#ffd700;
}

ul {
}

p {
  margin: 0.25em;
}

a {
  color: #0066FF;
  text-decoration: none;
}

a:hover :visited {
  color: #00CCFF;
  text-decoration: underline;
}

a:visited {
	color: #0066FF;
}

p.inline-warning {
  margin: 0.5em;
  color: red;
  font-weight: bold;
}

form {
  display: inline;
}

input {
  font-size: medium;
}

input[type="text"] {
  padding: 0.15em;
}

input[type="submit"] {
  padding: 0.15em 0.3em;
}

table {
  width: 98%;
  margin: 0 auto;
}

tr {
}

th, td {
  padding: 0.25em;
}

th {
  font-size: large;
  border-bottom: 2px solid #000;
}

td {
}

td.options {
  text-align: center;
}

/* Layout */

#wrap {
  margin: 10px auto;

  width: 975px;
}

#footer {
  display: block;
  width: 975px;
}

#header {
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
  height: 105px;
	background-image:url('./images/imBanner.png');
}

#content{
	height: auto;
	background-color:#ffffff;
  height: auto;
}

div#content div#middle,
div#content div#right{
  display: block;
  float: left;
	background-color:#ffffff;
}

div#content div#right {
  width: 150px;
  background-color: #FFFFFF;
}

div#content div#middle {
  width: 785px; /* 605px - (20px *2) */
  padding: 15px 20px;
}

div#footer {
  float: left;
  height: 80px;
  background-color: #000000;
	width: 975px;
	font-size:9px;
}

#footer p {
	color: #FFFFFF; 
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
} 

div#footer div#border{
	background-image:url('./images/bordeFooter.png');
	height:14px;
}

#footer img{
	padding-left:10px;
	padding-right:10px;
}
#footer p{
	text-align:center;
}
.hidden {
  display: none;
}
